.main {
    border: 1px solid;
    width: 500px;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
}

.main div {
    margin-top: 10px;
}

.main img {
    max-width: 35px;
    margin-left: 10px;
    position: absolute;
    margin-top: -7px;
}

.main button {
    color: white;
    border: none;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.main button:active {
    transform: scale(0.95);
}

.arrow {
    font-size: 25px;
    margin-left: 5px;
    color: red;
    display: inline-block;
    position: absolute;
    margin-top: -7px;
}
